<!DOCTYPE html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-2.8.3.min.js'></script>
    <title>NPN: Alliance Network</title>
    <style>
        #myDiv {
            height: 120vh;
            margin-top: -3vh;
        }

        canvas {
            background-color : black;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        body {
            min-height: 150vh;
        }
    </style>
</head>
<body>
    <div class="jumbotron text-center">
        <h3>The Alliance Network</h1>
        <p class="lead">A collation of our collective information</p>
    </div>
    <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
    

    <script type="text/javascript">

        PIDS = {
            0: "Yang",
            1: "Connor",
            2: "Gareth",
            3: "Paul",
            4: "Sam",
            5: "Blake",
            6: "Katya"
        }

        const fleets = {{ enemies | tojson }};
        const en_names = {{ enemy_names | tojson }}
        const ally_data = {{ ally_data | tojson }}
        const allies = {{ ally_fleets | tojson }}

        const stars = {{ stars | tojson }}
        const star_names = {{ star_names | tojson }}
        const star_xs = {{ star_xs | tojson }}
        const star_ys = {{ star_ys | tojson }}

        const enemy_xs = {{ enemy_xs | tojson }}
        const enemy_ys = {{ enemy_ys | tojson }}

        const ally_xs = {{ ally_xs | tojson }}
        const ally_ys = {{ ally_ys | tojson }}
        var all_ally_text = [];

        // Sort out the details
        for (var f in allies) {
            var p_name = PIDS[allies[f]['puid']]
            var str = allies[f]['strength']
            all_ally_text.push(p_name + ": " + str + " ships")
        }

        var all_enemy_text = [];

        for (var f in fleets) {
            var p_name = PIDS[fleets[f]['puid']]
            var str = fleets[f]['strength']
            all_enemy_text.push(p_name + ": " + str + " ships")
        }
        
        var trace1 = {
            x: ally_xs,
            y: ally_ys,
            mode: 'markers+text',
            type: 'scatter',
            name: 'The Alliance',
            customdata: ally_data,
            text: all_ally_text,
            hovertemplate: '<b>Name:</b> %{customdata}' +
                           '<br><i>%{text}</i></br>',
            textposition: 'top center',
            textfont: {
                family:  'Raleway, sans-serif',
                color: 'white'
            },
            marker: { size: 12 }
            };

        var trace2 = {
            x: enemy_xs,
            y: enemy_ys,
            mode: 'markers+text',
            type: 'scatter',
            name: 'Enemy Fleet',
            customdata: en_names,
            text: all_enemy_text,
            hovertemplate: '<b>Name:</b> %{customdata[0]}' +
                           '<br><b>Moving:</b> %{customdata[1]}</br>' +
                           '<i>%{text}</i>',
            textfont : {
                family:'Helvetica',
                color: 'white'
            },
            textposition: 'bottom center',
            marker: { size: 12 }
        };

        var trace3 = {
            x: star_xs,
            y: star_ys,
            mode: 'markers+text',
            type: 'scatter',
            name: 'Stars',
            opacity: 0.5,
            text: star_names,
            textposition: 'top center',
            textfont: {
                family:  'Raleway, sans-serif',
                color: 'white',
                size: 8,
            },
            marker: { size: 6, color: 'white' }
        };

        var data = [ trace1, trace2, trace3 ];

        var layout = {
        xaxis: {
            autorange: true
        },
        yaxis: {
            autorange: "reversed"
        },
        plot_bgcolor: "#100029",
        paper_bgcolor:"#090017",
        legend: {
            y: 0.5,
            yref: 'paper',
            font: {
            family: 'Arial, sans-serif',
            size: 20,
            color: 'white',
            }
        },
        };

        Plotly.newPlot('myDiv', data, layout);
        Plotly.relayout('myDiv', {'xaxis.visible': false,
                                    'yaxis.visible': false})
    </script>
</body>
</html>